body{
	background-color: #ccc
}
.nav5{
	 display: block;
    width: 100%;
    margin-bottom: 20px!important
}
.footer{
	background-color: #333;
	color: #EEE;
	padding: 20px;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%
}
.main-post{
	padding: 10px;
	background-color: #FFF;
	border: 1px dashed #d8d8d8;
	margin-bottom: 10px;
	border-radius: 5px
}
.main-post h3{
	margin: 0 0 10px;
	font-weight: bold;
	color: #777;
	letter-spacing: -1px
}
.main-post img{
	display: block;
	margin: 10px 0 10px
}
.main-post .post-author,
.main-post .post-date,
.main-post .post-comments{
	font-size: 12px
}
.main-post .post-content{
	line-height: 1.7;
	color: #888
}
.main-post i{
	color: #999
}
.post-pagination{
	margin: 20px auto 30px;
	width: 400px;
	text-align: center
}
.post-pagination a,
.post-pagination span{
	display: inline-block;
	padding: 10px 20px;
	background-color: #fff;
	border-radius: 5px
}

.post-pagination a:first-of-type{
	margin-right: 10px
}
.post-pagination span{
	opacity: .5;
	cursor: not-allowed
}
.post-pagination .prev-span{
	margin-right: 10px
}
.post-pagination .next-span{
	margin-left: 0px
}